{
  "Configura MCV": "D:/Progetti Python e Script/Configuratore_exe/Crea macchina/dist/Configura_MCV.exe",
  "Visualizza Configurazione": "D:/Progetti Python e Script/Configuratore_exe/Riepilogo proposta/dist/Visualizza_Configurazione.exe",
  "Verifica Vincoli": "D:/Progetti Python e Script/Configuratore_exe/VerificaVincoli/dist/VerificaVincoliConfigurazione.exe",
  "Aggiorna Prezzi Opzioni": "D:/Progetti Python e Script/Configuratore_exe/Aggiornamento prezzi/dist/Aggiorna_Prezzi_Opzioni.exe",
  "Configuratore": "D:/Progetti Python e Script/Configuratore_exe/Configuratore Opzioni/dist/Configuratore.exe"
}